.table {
    border-collapse: collapse;
  }
  
  .table td, .table th {
    border: none;
    background-color: transparent; 
  }
  
  .table th {
    text-align: left;
    background-color: transparent;
  }
  