.vertical-table {
  width: 100%;
  border-collapse: collapse;
}

.vertical-table th {
  text-align: left;
  padding: 8px;
  background-color: #f0f0f0;
  width: 30%;
}

.mitad {
  width: 50%;
}

.sigue {
  width: 50%;
}

.vertical-table td {
  padding: 8px;
}

.text-table {
  color: #39685c;
}

