<div class="container mt-4">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th class="nunito fs-4 text-black">Nombre</th>
          <td class="nunito fs-4 text-black">Jessia Rose</td>
        </tr>
        <tr>
          <th class="nunito fs-4 text-black">Género</th>
          <td class="nunito fs-4 text-black">Femenino</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Nombre del Padre</th>
          <td class="nunito fs-4 text-black">Fahim Rahman</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Nombre de la Madre</th>
          <td class="nunito fs-4 text-black">Jannatul Kazi</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Fecha de Nacimiento</th>
          <td class="nunito fs-4 text-black">07.08.2006</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Religión</th>
          <td class="nunito fs-4 text-black">Islam</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Ocupación del Padre</th>
          <td class="nunito fs-4 text-black">Diseñador Gráfico</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Correo Electrónico</th>
          <td class="nunito fs-4 text-black">jessiaroseasasda.com</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Fecha de Admisión</th>
          <td class="nunito fs-4 text-black">05.01.2019</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Clase</th>
          <td class="nunito fs-4 text-black">2</td>
        </tr>
        <tr>
          <th class="nunito fs-4 text-black">Sección</th>
          <td class="nunito fs-4 text-black">Rosa</td>
        </tr>
        <tr>
          <th class="nunito fs-4 text-black">Roll</th>
          <td class="nunito fs-4 text-black">10005</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Dirección</th>
          <td class="nunito fs-4 text-black">House #10, Road #6, Australia</td>
        </tr>
        <tr>
          <th class="nunito fs-4  text-black">Teléfono</th>
          <td class="nunito fs-4 text-black">+ 88 9856418</td>
        </tr>
      </tbody>
    </table>
  </div>
  