<div class="card">
    <div class="card-body d-flex align-items-center">
      <div class="circle-logo" [ngStyle]="{'background-color': FondoColor}">
        <i [class]="Icono" [ngStyle]="{'color': IconoColor , 'font-size':Tama }"></i>
      </div>
      <div class="w-50 ml-3 d-flex flex-column align-items-end">
        <div class="d-flex flex-column gap-2 justify-content-center">
          <h5 class="text-end nunito fs-4 fw-medium text-body-tertiary">{{Titu}}</h5>
          <span class="text-end nunito fs-2 fw-medium">{{Numero}}</span>
        </div>
      </div>
    </div>
  </div>