
 .real {
     width: 100%;
     height: 100vh; 
     overflow: hidden;
     background-color: #d4fdfd;
   }
  
.masked {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
  }
  
svg {
    position: absolute;
    bottom: -43%;
    left: 0;
}

.card-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
  }

  mat-error {
    display: block;
    font-size: 0.875rem; 
    margin-top: 0.25rem;
  }
  
.gap-perso {
    gap: 1rem;
}

.direpadding {
  padding-top: 0.79rem;
  padding-bottom: 0.79rem;
}


.mat-sort-header-container {
    align-items: center;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .step-label-large {
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }

.card-registro {
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.4);
}

.link-login {
  color: #1A3636;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  transition: all ease-in .20s;
}

.link-login:hover {
  color: #6aa3a3;
}