.image-container {
  background-color: beige;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
}

 img {
   object-fit: cover;
   border-radius: 50%;
   height: 100%;
   width: 100%;
}

.win1 {
  width: 40%;
}

.win2 {
  width: 60%;
}

.line {
  line-height: 1.5;
}

.max {
  max-height: 42px;
}

.h-85 {
  height: 753px;
}

.h-full {
  height: 100%;
}

.perfilcontainer2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card.rounded-3.border-0 {
  display: flex;
  flex-direction: column;
  height: 100%; 
}


.col-xxl-8.col-xl-6.p-0.grid.bg-danger.gapsito {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.perfilcontainer2 {
  flex: 0 1 auto; 
}

.course-table-container {
  flex: 1 1 auto; 
  overflow: auto; 
}

@media (max-width: 1200px) {
  .perfilcontainer2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .perfilcontainer2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {

  .userborderima {
    display: flex;
    justify-content: start;
    padding-left: 5px;
  }

  .perfilcontainer2 {
    grid-template-columns: 1fr;
  }

  .perfilcontainer2>div {
    width: 100%;
  }
}

