<div class="bg-white p-4">
  <div class="container mt-4">
    <h1 class="nunito fs-2 fs-medium text-black">Lista de Cursos</h1>
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Detalles de Cursos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="cursos" class="mat-elevation-z4">
          <ng-container matColumnDef="idCurso">
            <mat-header-cell *matHeaderCellDef> ID del Curso </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.idCurso }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nombreCurso">
            <mat-header-cell *matHeaderCellDef> Nombre del Curso </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.nombreCurso }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreProfesor">
            <mat-header-cell *matHeaderCellDef> Nombre del Profesor </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.nombreProfesor }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="genero">
            <mat-header-cell *matHeaderCellDef> Género </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.genero }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="idProfesor">
            <mat-header-cell *matHeaderCellDef> ID del Profesor </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.telefono }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.fecha | date }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Correo Electrónico </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.email }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tiempo">
            <mat-header-cell *matHeaderCellDef> Tiempo o Hora </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.tiempo }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="salon">
            <mat-header-cell *matHeaderCellDef> Salón </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.salon }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Descri">
            <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let curso"> {{ curso.Descri | limitadorLetras:23}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let curso">
              <button mat-icon-button (click)="borrarCurso(curso)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnasMostrar"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnasMostrar;"></mat-row>
        </mat-table>
        <ng-template #noCursos>
          <mat-card class="mat-elevation-z4">
            <mat-card-content>
              <p>No hay cursos disponibles.</p>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
