
.nav-icon {
  margin-right: 10px;
  color: #fff;
}

.ColorIcono {
  background: linear-gradient(45deg,
      rgb(241, 81, 81) 50%,
      rgb(194, 85, 194) 50% 100%,
      rgb(89, 58, 199) 50% 75%,
      rgb(101, 166, 196) 75% 100%);
  background-position: 0 0, 0 50%, 50% 0, 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Icono2 {
  color: rgb(255, 82, 14);
}

.Icono3 {
  color: rgb(197, 36, 36);
}

.Icono4 {
  color: #14c431;
}

.bg-trans {
  background: transparent;
}



.monlink {

  transition: .15s ease-in-out;

  &:hover {
    background-color: #206850;
  }
}

.linkactivetion {

  transition: .15s ease-in-out;

  &:active {
    background-color: #184636;
  }
}

.linkhoversecond {
  transition: .15s ease-in-out;

  &:hover {
    overflow: hidden;
    background-color: #184636;
  }
}

.bg-dash-button {
  background-color: #206850;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: #184636;
  border-color: #cecccc;
  color: #cecccc;
}

.cerrarsesion {
  &:hover {
    cursor: pointer;
  }
}

#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  transition: width 0.3s ease;
  background-color: #379777;
  width: 250px;

  .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    transition: padding 0.3s ease;

    i {
      margin-right: 10px;
    }

    .sidebar-text {
      display: inline-block;
      margin-left: 10px;
      transition: opacity 0.3s ease;
      opacity: 1;
    }
  }

  &.collapsed {
    width: 75px;

    .nav-link {
      padding-left: 15px;

      .sidebar-text {
        opacity: 0;
      }
    }
  }

  @media (max-width: 768px) {
    &.collapsed {
      width: 75px;

      .nav-link {
        padding-left: 15px;

        .sidebar-text {
          opacity: 0;
        }
      }
    }
  }
}

#content {
  background-color: #e9e9e9;
  transition: margin-left 0.3s ease;
  margin-left: 250px;

  &.sidebar-collapsed {
    margin-left: 75px;
  }

  @media (max-width: 768px) {
    &.sidebar-collapsed {
      margin-left: 75px;
    }
  }
}

.btn i {
  font-size: 1.5rem;
}

.logout-section {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.btn {
  border: none;

  &:active {
    border: none;
    background-color: #184636
  }

  &:hover {
    background-color: #184636
  }

  &:focus {
    border: none;
  }
}

.block-70 {
  height: 70px;
}
